asyncpg~=0.30.0
aiokafka~=0.8.0
fastapi~=0.115.6
psycopg2-binary~=2.9.10
pydantic~=2.10.5
sqlalchemy~=2.0.37
uvicorn~=0.34.0
pydantic_settings~=2.7.1

pytest~=8.3.4
pytest-asyncio~=0.25.2
pytest-mock~=3.14.0
httpx~=0.28.1
